:root {
  --primary: #0099ff;
  --secondary: #1c5480;
  --translucid: rgba(0, 153, 255, .3)
}

html,
body {
  background-image:
    radial-gradient(var(--translucid) 1px, transparent 1px),
    radial-gradient(var(--translucid) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  color: var(--primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

